@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply text-white tracking-wide flex min-h-full
    }

    body {
        @apply flex flex-grow bg-background-main-dark background-gradient
    }
}

@layer utilities {
    .swap-bridge-container {
        @apply bg-background-gray-accent rounded-xl w-full p-5
    }

    .to-native-active {
        @apply bg-gray-700 z-10 ring-2 ring-gray-500
    }

    .to-native-button {
        @apply py-2 px-6 text-sm rounded-full font-medium border border-gray-600 hover:bg-gray-700
    }

    .background-gradient {
        background-image: radial-gradient(100% 100% at 50% 25%, var(--tw-gradient-stops));
        --tw-gradient-to: #222129;
        --tw-gradient-from: rgba(181, 45, 126, .06);
        --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    }

    .gradient-main {
        background: linear-gradient(270deg, #3E3085 0%, #7C2F82 27.15%, #B22F7F 51.04%, #543E71 78.86%, #0C4966 100%);
    }

    .gradient-border-selection-main {
        background: linear-gradient(#31313E, #31313E) padding-box,
        linear-gradient(270deg, #3E3085 0%, #7C2F82 27.15%, #B22F7F 51.04%, #543E71 78.86%, #0C4966 100%) border-box;
        border: 1.5px solid transparent;
        border-radius: 24px;
    }

    .bg-gradient-border {
        background: linear-gradient(var(--bg-color-from), var(--bg-color-to)) padding-box,
        linear-gradient(270deg, #3E3085 0%, #7C2F82 27.15%, #B22F7F 51.04%, #543E71 78.86%, #0C4966 100%) border-box;
        border: 1.5px solid transparent;
        border-radius: 12px;
    }

    .gradient-border-header-main {
        --bg-color-from: #222129;
        --bg-color-to: #222129;
        @apply bg-gradient-border
    }

    .gradient-border-header-main-hover {
        --bg-color-to: #2221296b;
        @apply bg-gradient-border
    }

    .sending-box-colors {
        --bg-color-from: #2E283A;
        --bg-color-to: #2E283A;
        @apply bg-gradient-border
    }

    .receiving-box-colors {
        --bg-color-from: #403C49;
        --bg-color-to: #403C49;
        @apply bg-gradient-border
    }

    .swap-interface {
        @apply flex flex-col px-3 w-full max-w-xl
    }

    .settings-line {
        @apply flex justify-end gap-2 py-2
    }

    .sending-box {
        @apply flex flex-col px-2 py-2 sending-box-colors
    }

    .receiving-box {
        @apply flex flex-col px-2 py-2 receiving-box-colors
    }

    .current-balance {
        @apply text-xs text-slate-400
    }

    .input-dollar-value {
        @apply text-xs text-slate-200
    }

    .route-card {
        @apply flex w-full flex-col border rounded-lg border-[#733975]
    }

    .header-button {
        @apply flex
        items-center
        gap-2
        tracking-wide
        px-3 py-0
        font-roboto
        font-light
        gradient-border-header-main hover:gradient-border-header-main-hover
    }

    .network-button {
        @apply px-4 header-button network-button-styles
    }

    .asset-selector {
        @apply flex
        justify-between
        gap-2
        cursor-pointer
        bg-[#2A2934]/100 hover:bg-[#2A2934]/50
        rounded-2xl
        transition duration-150 ease-out hover:ease-in
        asset-selector-shadow
    }

    .asset-selector-shadow {
        box-shadow: 0 2px 3px #000000b5;
    }

    .network-button-styles {
        display: inline-block;
        margin: 2%;
        width: 46%;
    }

    .network-button > img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 10px;
    }

    img.chain-icon {
        max-width: 24px;
        border-radius: 50%;
    }

    .from-to-arrow {
        @apply flex justify-center
    }

    .standardArrow {
        width: 44px;
        height: 44px;
        padding: 0;
        -webkit-transition: -webkit-transform 0.4s ease-in;
        transition: transform 0.4s ease-in;
        -o-transition: -o-transform 0.4s ease-in;
        border-radius: 100%;
        background: rgba(34, 33, 41, 0.4);
    }

    .standardArrow:hover {
        transform: rotate(-180deg);
        transition-delay: 0.15s;
        -webkit-transition: -webkit-transform 0.4s ease-in;
        transition: transform 0.4s ease-in;
        -o-transition: -o-transform 0.4s ease-in;
        background: #222129;
    }

    .tooltip {
        @apply invisible absolute;
    }

    .has-tooltip:hover .tooltip {
        @apply visible z-50;
    }

    .vl-parent {
        position: relative;
    }

    .vl {
        border-left: 2px solid #626262;
        box-shadow: 0 0 5px #626262;
        height: 96%;
        position: absolute;
        left: 33px;
        top: 0;
        z-index: 1;
    }
}
